
.entete {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.entete button {
    background-color: #3E4FA3;
    color: #FFFFFF;
}

.entete img {
    width: 50px;
}
.select {
    display: flex;
    border-bottom: 1px solid black;
}
.select h4 {
   margin: 0;
    padding: 5px;
    border: 1px solid black;
}
.vert {
    background-color: #4ADD85;
}


.contenu {
    display: flex;
   justify-content: space-around;
 
}

/* Styles pour le tableau de bord */
.dashboard {
    display: flex;
    flex-direction: column;
}

.entete {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.contenu {
    display: flex;
    flex-direction: row;
    width: 100%;
}



/* Les boutons de contrôle pour mobile */
.mobile-buttons {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    /* Montrer les boutons sur mobile */
    .mobile-buttons {
        display: flex;
        margin-bottom: 10px;
    }

    /* Montrer les composants quand ils sont activés sur mobile */
    .aside-bar.visible,
    .invite.visible {
        display: block;
        width: 100%;
    }

    .contenu {
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .invite {
        display: block; /* Ajouter cette ligne pour s'assurer que l'invite s'affiche correctement */
        width: 100%;
    }
    /* Cacher AsideBar et Invite par défaut sur mobile */
.aside-bar,
.invite {
    display: none;
}
}
